body{
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

#Container{
    display:flex;
    flex-shrink: 2;
    margin: 0;
    padding: 0;
    
    flex-wrap: wrap;
}



div{
    background-color: aqua;
    
}